[submodule "parsers/tree-sitter-query"]
	path = parsers/tree-sitter-query
	url = https://github.com/keyvchan/tree-sitter-query
[submodule "queries/nvim-treesitter"]
	path = queries/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
